*.o
*.lo
*.la
*.dep
*~
.libs/
.deps/
modules/
build/
autom4te.cache/
config.h
config.h.in
config.log
config.status
config.nice
configure
configure.ac
configure.in
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
install-sh
missing
mkinstalldirs
run-tests.php
*.tar.gz
acinclude.m4
aclocal.m4
tmp-php.ini
tests/*.diff
tests/*.out
tests/*.exp
tests/*.log
tests/*.php
tests/*.sh
